h1{
    color:blue;
}

#Heading-2{
    color:green;
}

.heading{
    color:rosybrown;
}

.para{
    color:skyblue;
    border:3px;
    border-color: rgb(53, 39, 44);
    border-style: solid;
    padding: 20px;
    text-align: center;
}

.nav{
    border:2px;
    border-color: rgb(48, 38, 42);
    border-style: solid;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.nav a{
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;

}
.nav a:hover{
    background-color:rgb(28, 24, 24);
    color:white;
}
body{
    margin: 0px;
}

.card{
    border:2px;
    border-color: black;
    border-style: solid;
    padding:10px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
}

.card img{
    width: 100%;
}

.card button{
    margin-bottom:20px;
}
