h1{
    color:blue;
}

#Heading-2{
    color:green;
}

.heading{
    color:rosybrown;
}

.para{
    color:skyblue;
    border:3px;
    border-color: palevioletred;
    border-style: solid;
    padding: 20px;
    text-align: center;
}

.nav{
    border:2px;
    border-color: rgb(244, 171, 196);
    border-style: solid;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.nav a{
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;

}
.nav a:hover{
    background-color:rgb(28, 24, 24);
    color:rgb(95, 139, 182);
}
body{
    margin: 0px;
}